.vibration {
	animation: vib .6s ease-in infinite;
	transition: all .6s;
	transform-origin: bottom right;

}

@keyframes vib {
    0% {
		transform-origin: bottom right;
		transform: rotate(2deg);
	}
	10% {
		transform-origin: bottom right;
		transform: rotate(1deg);
	}
    20% {
		transform-origin: bottom right;
		transform: rotate(0.5deg);
	}
	30% {
		transform-origin: center;
		transform: rotate(0deg);
	}
    40% {
		transform-origin: bottom left;
		transform: rotate(-1deg);
	}
	50% {
		transform-origin: center;
		transform: rotate(-0deg);
	}
    60% {
		transform-origin: bottom left;
		transform: rotate(-2deg);
	}
	70% {
		transform-origin: bottom right;
		transform: rotate(-1deg);
	}
    80% {
		transform-origin: center;
		transform: rotate(-3deg);
	}
	90% {
		transform-origin: bottom left;
		transform: rotate(1deg);
	}
    100% {
		transform-origin: center;
		transform: rotate(0deg);
    }
}