:root {
  --primary-color: rgb(255, 251, 235);
  --primary-variant: rgb(255, 251, 190);
  --secondary-color: rgb(255, 85, 35);
  --boxes-color: rgb(185, 228, 201);
  --main-font: "Montserrat", Arial;
  --secondary-font: "Roboto Mono", sans-serif;
}

body {
  -webkit-font-display: auto;
  -moz-font-display: auto;
  -o-font-display: auto;
  -ms-font-display: auto;
  font-display: auto;
  font-family: var(--secondary-font);
  background-color: var(--primary-color);
}

.container {
  display: grid;
  grid-template-columns: 80% 20%;
  margin-top: 50px;
  padding: 0 80px;
}
.container--height {
  height: 100vh;
}

.title {
  font-family: var(--main-font);
  width: 800px;
  margin: 0 auto;
  color: var(--secondary-color);
  font-size: 64px;
  margin-left: 80px;
}
.title--center {
  text-align: center;
  margin-left: auto;
  margin-bottom: 90px;
}

.box {
  background-color: var(--boxes-color);
  position: absolute;
}
.right-section {
  overflow: hidden;
}
.menu--sticky {
  padding-top: 100px;
  position: fixed;
  top: 0;
  right: 88px;
}
.box--left {
  width: 600px;
  height: 450px;
  top: 230px;
  left: 200px;
}
.box--right {
  width: 170px;
  height: 150px;
  top: 130px;
  right: 30px;
}
.name {
  font-size: 100px;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-weight: bold;
  position: relative;
}
.name--style {
  display: block;
}
.name__2 {
  margin-left: 330px;
}
.name__4 {
  margin-left: 120px;
}
.menu__list {
  list-style: none;
  margin: 15px 0;
  text-align: right;
  font-weight: 500;
  position: relative;
}
.menu__item {
  margin: 2px 0;
}
.menu__list li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 26px;
}
/******************
*****proyectos*****
*******************/
.proyectos {
  margin: 50px 0;
}
.grillado {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-gap: 4px;
}
.grillado__images {
  background-size: cover;
  background-position: center;
  height: 320px;
  background-repeat: no-repeat;
  border: 15px solid white;
}
.grillado__cuerpo {
  color: var(--secondary-color);
  position: absolute;
  bottom: 15px;
  left: 15px;
  background: var(--primary-variant);
  width: 360px;
  padding: 20px 0 20px 10px;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  text-transform: capitalize;
}
.item {
  position: relative;
  width: 400px;
}
.image--presupuesto {
  background-image: url("../img/money.webp");
}
.image--despegando {
  background-image: url("../img/plane.webp");
}
.image--artista {
  background-image: url("../img/artista.webp");
}
.image--blog {
  background-image: url("../img/blog.webp");
}
.image--cinema {
  background-image: url("../img/cinema.webp");
}
.image--gelatos {
  background-image: url("../img/Gelato.webp");
}
.image--pacho {
  background-image: url("../img/pacho.webp");
}
.image--store {
  background-image: url("../img/store.webp");
}

/******************
*****contacto*****
*******************/
.contacto {
  margin: 300px 0;
}
.contacto__email {
  margin-bottom: 50px;
}
.redes {
  margin: 6px 0;
  display: block;
}
.redes a {
  text-decoration: none;
  color: #000;
}
.hide-on-md {
  display: none;
}
